<%if(user.id==profile_user.id){%>
    <!-- if user matches the profile -->
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Upload Picture">
        <button type="submit">Update</button>
    </form>
<%}%>
<br>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="500px">
    <h1>
        Welcome <%=profile_user.name%> to User profile page your mail is <%=profile_user.email%>!
    </h1>